*{
    box-sizing: border-box;
}
html,body{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
}
div{
    float: left;
    width: 33.33%;
    border: 2px solid black;
}
.clear_floats{
    clear: both;
}