@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    url("css/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
}

/*

Colors

before 16 color names (fuchsia, black, brown, red...)

now 16 million colors :O

transparent color
color: transparent;

hexadecimal - #RRGGBB - Red(#FF0000), Green(#00FF00), Blue(#0000FF)
range - between 0 and F(decimal 15)
#000000 - black
#FFFFFF - white
#666666 - gray

RGB(0-255,0-255,0-255)
rgb(255,0,0) - red
rgb(0,255,0) - green
rgb(0,0,255) - blue

rgb(20%,0%,80%)

HSL - hue,saturation,lightness
hsl(0-360,0%-100%,0%-100%)
hsl(64,54%,15%)

TRANSPARENCY

a - alpha channel - between 0(opaque) and 1(transparent)
rgba(255,0,0,0.5)
hsla(34,50%,50%,0.5)
#FE43388

OPACITY property

*/

/*

UNITS

absolute
    px - pixels - MVP

        UNUSED!
    ****************
    *pt - points
    *cm - centimeters
    *mm - millimeter
    *in - inches
    *pc - picas
    ****************

relative
    % - percentage - MVP

        UNUSED!
    ****************
    *em
    *rem - root ems
    *ex - font x-height
    *vw - viewport width
    *vh - viewport height
    *vmin
    *vmax
    *ch
    ****************
*/




body{
    background-color: black;
    opacity: 0.5;
}
/*
CSS RULE
selector {
    property1: value1;
    property2: value2;
    property3: value3;
}
*/

/*
tag selector
*/
p{
    /*color: #e20074;  - same magenta in HEX*/
    color: rgb(226,0,116);
    /*font-size: 20px;*/
    font-weight: bold;
    border: solid dimgray;
    /*font stack*/
    font-family: Roboto, serif;
    /*
    serif - Times New Roman
    sans-serif - Arial
    monospace - Courier New
    cursive
    fantasy
    */

    /*color: hsl(240,50%,50%) ;*/
    opacity: 0.9;
    width: 1000px;
    font-size: 1.5rem; /* 24px */
}

h1{
    text-align: center;
    color: white;
}

/*
class selector
*/
.specific{
    font-style: italic;
    letter-spacing: 1mm;
    word-spacing: 3mm;
}

/*
ID selector
*/

#specialOne{
    text-transform: uppercase;
}
