body{
    background-color: #666666;
    color: black;
}
h1{
}
.topMenu{
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
}
.topMenu li{
    display: inline;
    border-right: solid gray 1px;
}
.topMenu a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: inline-block;
}
.topMenu a:hover{
    background-color: gray;
    color: white;
}
#magnifier{
    padding-left: 10px;
    border-right: none;
    color: black;
    cursor: pointer;
}