#accordion{
    width: 100%;
}
/* child selector */
#accordion > h2{
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 0;
    cursor: pointer;
    user-select: none;

}
#accordion > h2 >i{
    float: right;
}

#accordion article{
    border: 1px solid black;
    padding: 20px;
    animation: ease-in;
    animation-duration: 1s;
}
